
/* Custom Reports (dynamic form) */
	.textLabel {
		display: block;
	}
	
	.inputError {
		color: #FF0000;
	}
	
/* Select Report */
	#formElements ul#reportList li.categoryHeading {
		font-size: 1.5em;
		font-weight: bold;
		padding: 3px 0 3px 20px;
		list-style-type: none;
		background: url('../images/collapsed.png') 0px 8px no-repeat;
	}
	ul#reportList li ul {
		margin-top: 5px;
	}
	ul#reportList li ul li {
		height: 24px;
		font-size: .8em;
		font-weight: normal;
		list-style: none;
		line-height: 24px;
		width: 90%;
		overflow: visible;
	}
	ul#reportList li ul li.even a {
		background-color: #ABABAB;
		display: block;
		padding-left: 20px;
	}
	ul#reportList li ul li.odd a {
		background-color: #E2E2E2;
		display: block;
		padding-left: 20px;
	}
	ul#reportList li ul li a:hover {
		cursor: pointer;
		border-right:4px solid #454545;
		border-left:4px solid #454545;
	}
	ul#reportList .description {
		display: inline-block;
		text-align: left;
		padding: 5px;
		margin-left: 12px;
		font-size: .8em;
	}


	
/* ---- report form styles ------ */
	form#reportForm input.shrinkButton {
		font-size: .95em;
	}
	form#reportForm fieldset{
		margin-bottom: 10px;
	}
	form#reportForm legend {
		padding: 20px 0;
		font-weight: bold;
		display: block;
		font-size: 1.5em;
	}
	form#reportForm label {
		display: inline-block;
		line-height: 1.8;
		vertical-align: top;
	}
	form#reportForm fieldset ul {
		margin: 0;
		padding: 0;
	}
	form#reportForm fieldset li {
		list-style: none;
		padding: 5px;
		margin: 0;
	}
	form#reportForm label {
		width: 120px;
	}
	form#reportForm fieldset li select {
		width: 260px;
	}
	form#reportForm fieldset ul li input#submitReportBtn {
		position: relative;
		left: 20px;
	}
	form#reportForm .description {
		display: inline-block;
		padding-left: 5px;
		margin-left: 12px;
	}


/* ------ HTML Table Styles ------ */
	table {
		border-collapse: collapse;
	}

	div#htmlTable thead tr {
		background-color: #B5CAFA;
	}
	div#htmlTable table th {
		border-top:4px solid #AABCFE;
		color: #039;
		font-size: 1.2em;
		text-align: left;
		background-color: #B9C9FE;
		border-bottom:1px dashed #000;
		border-right:1px solid #B9C9FE;
		padding: 10px;
	}
	div#htmlTable table td {
		padding: 10px;
		background-color: #E8EDFF;
		color: #669;
		border-top:1px solid transparent;
		border-bottom:1px solid #FFF;
		border-right:1px solid rgb(174,186,251);
		border-left:1px solid rgb(174,186,251);
	}
