
/* Custom Reports (dynamic form) */
	.textLabel {
		display: block;
	}
	
	.inputError {
		color: #FF0000;
	}
	
	#loaderImg {
		float:left;
	}
	
/* Select Report From Reportl List */
	#formElements ul#reportList li.categoryHeading {
		font-size: 1.5em;
		font-weight: bold;
		padding: 3px 0 3px 20px;
		list-style-type: none;
		background: url('../images/collapsed.png') 0px 8px no-repeat;
	}
	ul#reportList li ul {
		margin-top: 5px;
	}
	ul#reportList li ul li {
		height: 24px;
		font-size: .8em;
		font-weight: normal;
		list-style: none;
		line-height: 24px;
		width: 70%;
		overflow: visible;
	}
	ul#reportList li ul li.even a {
		background-color: #ABABAB;
		display: block;
		padding-left: 20px;
	}
	ul#reportList li ul li.odd a {
		background-color: #E2E2E2;
		display: block;
		padding-left: 20px;
	}
	ul#reportList li ul li a:hover {
		cursor: pointer;
		border-right:4px solid #454545;
		border-left:4px solid #454545;
	}
	ul#reportList .description {
		display: inline-block;
		text-align: left;
		padding: 5px;
		margin-left: 12px;
		font-size: .8em;
	}


	
/* ---- form styles ------ */
	form input.shrinkButton {
		font-size: .95em;
		margin: 0;
	}
	form fieldset {
		margin-bottom: 10px;
	}
	form legend {
		padding: 20px 0 10px 0;
		font-weight: bold;
		display: block;
		font-size: 1.5em;
	}
	form label {
		display: inline-block;
		line-height: 1.8;
		vertical-align: top;
		width: 120px;
	}
	form fieldset ul {
		margin: 0;
		padding: 0;
	}
	form fieldset li {
		list-style: none;
		padding: 5px;
		margin: 0;
	}
	form fieldset li select {
		width: 260px;
	}
	form fieldset p#reportDescription {
		padding-bottom: 10px;
		font-weight: 600;
	}
	form#reportForm .description {
		display: inline-block;
		padding-left: 5px;
		margin-left: 12px;
	}
	form fieldset#scheduleTime li select {
		width: 150px;
	}
	form fieldset li select#reportTimeFrame {
		width: 80px;
	}
	fieldset#scheduleTime ul {
		margin-top: 10px;
	}
	fieldset#scheduleTime div#scheduleInstructions p {
		width: 470px;
	}


/* ------ CLASSES ------ */
	.example {
		display: block;
	}
	
	.selectError {
		border: 1px solid #FF0000;
    	border-radius: 5px 5px 5px 5px;
	}
	
	
/* ------ IDs ------ */
	#timeQuantifier {
		width: 15px;
	}
